@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: black;
    box-sizing: border-box;
    font-family: Pretendard-Regular, sans-serif;
}

.wrap{
    width: 1280px;
    margin: 0 auto;
}

.toolbar{
    width: 100%;
    height: 100px;
    /*background-color: #eee;*/
}

header{
    width: 100%;
    height: 100px;
    box-sizing: content-box;
    display: flex;
}

header .logo  {
    display: block;
    content:'';
    width: 250px;
    height: 100px;
    background-image: url("../../public/shelter_logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

header .logo > a{
    display: inline-block;
    width: 100%;
    height: 100%;
}

header nav{
    flex: 1;
    text-align: center;
}

header nav > ul {
    height: 100%;
    display: flex;
    color: #000;
}
header nav > ul > li  {
    flex: 1;
}

header nav > ul > li > a {
    width: 100%;
    height: 100%;

    display:inline-flex;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;

    font-size: 180%;
    font-weight: 600;
}

header nav ul > li> ul{
    display: none;
    flex: 1;
}

header nav ul > li> ul > li{
    width: 100%;
}

.mainMenu>li:hover .subMenu{
    display: block;
}

.content{
    width: 100%;
    height: min-content;
}

main{
    height: 360px;
    background-color: #888;
}

.MainContentArea{
    height: 360px;
    display: flex;
}

.MainContentArea .search{
    width: 320px;
    height: 100%;

}
.MainContentArea .boards{
    flex: 1
;
    display: flex;
    width: 100%;
    height: 100%;
}

.MainContentArea .boards > .boardBox{
    width: 50%;
    flex: 1;
    padding: 30px;
}

.boardTitle{
    font-size: 150%;
    font-weight: 600;
    margin-bottom: 10px;
}

.boardBox > .boardContents{
    width: 100%;
    height: 100%;
    padding: 0 10px;
}

.boardBox > hr{
    margin: 8px 0px 10px 0px;
}

.boardPost{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 5px 0;
}

.postTitle{
    display: block;
    width: 70%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.postDate{
    right: 0;
}

.postSt{
    color: #58AA52;
    font-weight: 600;
}

.search{
    background-color: #999;
}

.statistics{
    height: 120px;
    background-color: #444;
}

.sideBar{
    width: 250px;
    height: 700px;
    background-color: #eee;
}

.subBox{
    padding: 30px;
    flex: 1;
}
.subBox > hr{
    width: 300px;
    margin: 10px 0px;
}

.flexContent{
 display: flex;
}


footer{
    height: 100px;
    background-color: #555;
}