@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'BookkMyungjo-Bd';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/BookkMyungjo-Bd.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

:root {
    /*domain*/
    --primary-color: #248e46;
    --bright-color: #58AA52;
    --bright-hover: #f8ffe7;
    --positive-color:#243e8e;
    --positive-hover:#e7e7ff;
    --negative-color:#8E2424;
    --negative-hover:#FF9E9E;
    --error:#cc0033;
    --warning:#FF6600;

    /*colorPicker*/
    --white:#eeeeee;
    --grey:#7e7e7e;
    --black:#000000;
    --ivory:#ffdb58;
    --orange:#f36d00;
    --brown:#672e00;
    --grass:#4beb59;
    --green:#005907;
    --red:#e81313;
    --blue:#0020d4;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    color: black;
    box-sizing: border-box;
    font-family: Pretendard-Regular, sans-serif;
}

a {
    text-decoration: none;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

/* Layout */
#wrap{
    width: 1280px;
    margin: 0 auto;
}

#container{
    width: 100%;
    height: min-content;
}

#footer{
    height: 100px;
    background-color: #555;
}
/* //Layout */


/* Header */
#toolbar{
    width: 100%;
    height: 60px;
    padding: 4px;
    margin-bottom: 10px;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    border-bottom: 1px solid #eee;
}

.toolbar__btn{
    padding: 0 18px;
    font-size: 120%;
    color: #555;
    background-color: #fff;
    border: none;
    border-right: thin solid #555;
}

.toolbar__btn:last-of-type{
    border: none;
}

#header{
    width: 100%;
    height: 100px;
    box-sizing: content-box;
    display: flex;
}

.header__logo{
    display: block;
    content:'';
    width: 250px;
    height: 100px;
    background-image: url("../../public/img/info/logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.header__logo-link{
    display: inline-block;
    width: 100%;
    height: 100%;
}

.header__nav{
    flex: 1;
    text-align: center;
}

#gnb {
    height: 100%;
    display: flex;
}
.lnb-show{
    display: block;
}
.lnb-disabled{
    display: none;
}

.gnb__menu {
    flex: 1;
}

.gnb__menu-link {
    width: 100%;
    height: 100%;

    display:inline-flex;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;

    font-size: 180%;
    font-weight: 600;
    text-decoration: none;
}

.lnb{
    position: relative;
    z-index: 900;
    flex: 1;
    background-color: #fff;
    border: 1px solid #eee;
    box-shadow: 2px 2px 10px #eee;
}

.lnb__menu{
    width: 100%;
}

.lnb__menu-link{
    display: inline-block;
    width: 100%;
    height: 100%;
    font-size: 140%;
    font-weight: 400;
    padding: 8px 0;
}
.lnb__menu-link:hover{
    background-color: #eee;
}

.gnb__menu:hover{
    background-color: var(--bright-hover);
    /*background-color: #e2ff9e;*/
}

/* //Header */

/* Main */
/* Main Slide*/
.box__slider{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 10px;
    height: inherit;
    margin-bottom: 10px;
    /*background-color: #888;*/
}

.slide{
    width: 240px;
    height: inherit;
    border: 1px solid #eee;
    margin-top: 16px;
    text-align: center;
}

.slide__box{
    margin-bottom: 16px;
    width: 240px;
    height: 180px;
}

.slide__img{
    width: inherit;
    height: inherit;
}
.slide__title{
}
.slide__info{
    padding-bottom: 16px;
}
.slide__info__text{
    color: #888;
}
/* //Main Slide */


.main__contents{
    height: 360px;
    display: flex;
}

/* Main rapid search */
.main__box__rapid {
    width: 400px;
    height: 100%;
}

.main__rapid__container{
    flex: 1;
    padding: 30px;
}

.main__rapid__title{
    font-size: 150%;
    font-weight: 600;
    margin-bottom: 10px;
}

.main__rapid__line{
    margin: 8px 0px 10px 0px;
}

.main__rapid__contents{
    width: 100%;
    height: 100%;
    padding: 0 10px;
}

.rapid__form__contents{
    margin-bottom: 20px;
}

.rapid__item{
    display: flex;
    margin: 4px 0;
    align-items: center;
    justify-content: space-between;
}

.rapid__item__title {
    flex: 0.2;
    padding: 8px 0;
}

.rapid__item__contents{
    flex: 0.8;
    display: flex;

    padding: 0 8px;
    align-items: center;
    justify-content: space-between;
}

.rapid__item__date{
    width: 100%;
    height: 100%;
    font-size: 100%;
    padding: 4px 0;
}

/* //Main rapid search  */

/* Main board */
.main__box__board{
    flex: 1
;
    display: flex;
    width: 100%;
    height: 100%;
}

.main__board__container{
    width: 50%;
    flex: 1;
    padding: 30px;
}

.main__board__title{
    font-size: 150%;
    font-weight: 600;
    margin-bottom: 10px;
}

.main__board__line{
    margin: 8px 0px 10px 0px;
}

.main__board__contents{
    width: 100%;
    height: 100%;
    padding: 0 10px;
}

.main__post__no-data{
    color: #888;
}

.main__post{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 5px 0;
}

.main__post-title{
    display: block;
    width: 70%;
}

.main__post-status{
    color: var(--bright-color);
    font-weight: 600;
}

.main__post-date{
    right: 0;
}
/* //Main board */

.main__box__statistics{
    height: 120px;
    background-color: #444;
}
/* //Main */

/* WideLayout*/
.flex_container-wide{
    display: flex;
    justify-content: center;
}

.box__content-wide{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    min-height: 600px;
    padding: 28px;
}

.box__content-wide > .box__content__board > .post__item{
    margin: 10px 0;
}

/* //WiteLayout*/


/* SubLayout */
.flex_container{
    display: flex;
}

/* SideBar */
.box__snb{
    width: 250px;
    height: inherit;
    min-height: 700px;
    padding: 16px;
    background-color: #eee;
}

.box__title{
    padding-left: 8px;
}

.box__line{
    margin: 8px 0px 10px 0px;
}

.snb{

}

.snb__menu{
}

.snb__menu_selected{
    background-color: #555;
}
.snb__menu_selected > a{
    color:#fff;
}

.sbn__menu-link{
    display: inline-block;
    width: 100%;
    height: 100%;
    font-size: 120%;
    color: #555;
    padding: 8px 0px 8px 8px;
}

.snb__menu:hover{
    background-color: #aaa;
}
.sbn__menu-link:hover{
}

/* //SideBar */

.box__content{
    padding: 28px;
    flex: 1;
}

.box__content__title{

}

.box__content__line{
    width: 300px;
    margin: 10px 0px;
}

.box__content__board{

}

.table__info{
    display: flex;
    margin-bottom: 4px;
    padding: 8px;
    justify-content: space-between;
    align-items: center;
}

.table__board{
    width: 100%;
    padding: 8px;
    text-align: center;
}

.table__header{
    padding: 8px 0;
    background-color: #eee;
    border-bottom: 1px solid black;
    font-size: 120%;
    display: flex;
}

.table__header__text{
    display: flex;
    align-items: center;
    justify-content: center;
}

.table__content{
    margin-top: 4px;
    display: flex;
    cursor: pointer;
}

.table__content:hover{
    background-color: var(--bright-hover);
}

.table__content__text {
    padding: 8px 0;
    border-bottom: 1px solid #eee;
}

.table__content__no-data{
    display: flex;
    margin-top: 10px;
    width: 100%;
    height: 100px;
    background-color: #eee;
    align-items: center;
    justify-content: center;
}

.table__content__hide{
    background-color: #eee;
}



.board__paging{
    display: flex;
    justify-content: center;
    margin: 20px 0;
}
/* board */
.box__post{
    flex: 1;
    margin-top: 16px;
    padding: 8px;
}
.post__header{
    display: flex;
    align-items: center;
    padding: 16px 4px;
    border-bottom: 1px solid #eee;
    /*background-color: #eee;*/
}
.post__title{
    font-size: 116%;
}

.post__user-id{
    color: #888;
}

.post__content{
    white-space: pre-wrap;
    padding: 16px 4px;
    border-bottom: 1px solid black;
}

.post__content > p > img {
    max-width: 90%;
}

.post__table{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.post__date{
    color: #888;
}

.post__item{
    display: flex;
    margin: 4px 0;
    align-items: center;
    justify-content: center;
}

.post__item-no-data{
    margin: 10px 20px 0 10px;
    padding: 20px 0;
    background-color: #eee;
}

.post__item__title{
    width: 100px;
    height: 100%;
    text-align: center;
    padding: 8px 0;
}

.post__item__contents{
    display: flex;
    position: relative;
    flex: 1 1;
    padding: 0 8px;
    align-items: center;
}

.custom_editor{
    display: flex;
    flex-direction: column;

    list-style: initial;
    list-style-position: inside;
    align-items: initial;
}

.custom_editor > ul{
    margin-left: 30px;
}

.custom_editor > ul > li {
    width: 100%;
    list-style: inside;
    /*text-indent: 0;*/
}


.post__item__input{
    width: 100%;
    height: 100%;
    padding: 4px 0;
    font-size: 100%;
}
.post__item-error{
    display: none;
}
.post__item-error > .post__item__contents > span{
    color: var(--error);
}

.post__item__select{
    width: 100%;
    height: 100%;
    font-size: 100%;
    padding: 4px 0;
}

.post__item__text{
    width: 100%;
    height: 100%;
    font-size: 100%;
    display: inline-flex;
    align-items: center;
}

.post__item__textarea{
    width: 100%;
    height: 80px;
    font-size: 100%;
    resize: none;
}

.post__item__editor{
    width: 100%;
    height: 100%;
    /*min-height: 400px;*/
    margin-bottom: 20px;
}

.post__item__label{
    margin-right: 4px;
}

.post__item__radio{
    margin-right: 20px;
}

.post__item__radio__box{
    width: 100%;
}

.post__item__date{
    width: 100%;
    height: 100%;
    font-size: 100%;
    padding: 4px 0;
}

.post__item__image__box{
    display: flex;
    flex-wrap: wrap;
}

.post__item__file{
    width: 100%;
    font-size: 100%;
}

.post__item__preview{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #888;
    flex-wrap: wrap;
}
.post__item__preview_box{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.post__item__preview_img{
    width: 180px;
    height: 135px;
}

.post__item__preview_img_thumbnail{
    position: absolute;
    z-index: 200;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 8px;
    color: #fff;
    background-color: var(--bright-color);
}

.post__item__preview_img_delete{
    position: absolute;
    z-index: 200;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 8px;
    background-color: var(--negative-hover);
}
.post__item__preview_img_delete > span{
    color: var(--negative-color);
}

.radio__box{
    display: inline-flex;
    align-items: center;
    margin-right: 16px;
}

.radio__box-wide{
    width: 100%;
    padding: 4px 8px;
    border: 1px solid #888888;
    border-radius: 4px;
}

.radio__box-wide:hover{
    background-color: var(--bright-hover);
}

.radio__box-wide-selected{
    background-color: var(--positive-hover);
}

.select__box{
    display: inline-flex;
    align-items: center;
    margin-right: 16px;
}

.box__btns{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    /*margin-top: 24px;*/
}

.btn__user{
    font-size: 100%;
    padding: 4px 40px;
    border-radius: 4px;
    cursor: pointer;
}

.btn__user__positive{
    color: var(--bright-color);
    background-color: #fff;
    border: 1px solid var(--bright-color);
}

.btn__user__positive:hover{
    color: #fff;
    background-color:var(--bright-color);
    border: 1px solid var(--bright-color);

}
/* //board */

/* info */
.info__box{
    height: 550px;
    position: relative;
}

.info__blur{
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(255, 255, 255, 0) 30%,  rgba(255, 255, 255, 1) 90%);
}
.info__img{
    display: block;
    position: absolute;
    content:'';
    width: 100%;
    height: 100%;
    background-image: url("../../public/img/info/info__img.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.info__contents{
    position: relative;
    top: -30px;
    z-index: 200;
    margin-left: 36px;
}
.info__header{
    margin-bottom: 24px;
    color: var(--primary-color);
    font-family: BookkMyungjo-Bd, sans-serif;
    font-size: 200%;
    font-weight: 900;
}
.info__text{
    white-space: pre-wrap;
    font-size: 120%;
    line-height: 180%;
    margin-bottom: 24px;
}
.info__logo{
    display: block;
    float: right;
    content:'';
    width: 250px;
    height: 100px;
    background-image: url("../../public/img/info/logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
/* //info */
/* Organizion */
.orga{
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

.orga__title{
    margin-top: 50px;
}

.orga__team {
    display: flex;
    justify-content: center;
}

.orga__box{
    width: 200px;
    height: 100px;
    border-radius: 10px;
    outline: none;
    background-color: var(--primary-color);
}
.orga__box-sub{
    width: 200px;
    height: 100px;
    border-radius: 10px;
    outline: none;
    background-color: #E2FF9E;
    margin: 0 30px;
}

.orga__team-name{
    margin-top: 20px;
    font-size: 150%;
    font-weight: 600;
}

.orga__team-work{
    margin-top: 10px;
    font-size: 120%;
}

.orga__team-work__text{
    padding: 0 8px;
    color: #222;
    border-right: 1px solid #222;
}

.orga__team-work__text__sub{
    padding: 0 8px;
    color: #888;
    border-right: 1px solid #888;
}

.orga__team-work__text:last-child{
    border-right: none;
}

.orga__team-work__text__sub:last-child{
    border-right: none;
}

.orga__line{
    display: flex;
}

.orga__line-vertical{
    width: 1px;
    height: 30px;
    border-right: 1px solid #555;
    margin: 0 104px;
}

.orga__line-horizontal{
    width: 208px;
    height: 1px;
    border-bottom: 1px solid #555;
    margin: 0 104px;
}

.orga__contact{
    width: 100%;
    height: inherit;
    display: flex;
}
.orga__contact__box{
    width: inherit;
}

.orga__team-call{
    display: flex;
    margin-top: 10px;
    align-items: center;
    padding: 4px 16px;
}

.orga__team-mail{
    display: flex;
    align-items: center;
    padding: 4px 16px;
}
/* //Organizion */
/* Map */
.map__img{
    display: block;
    content:'';
    height: 800px;
    background-image: url("../../public/img/info/info__map.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

/* //Map */
/*  Protection */
.filter__content{
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 8px;
}
.filter__box{
    display: flex;
    align-items: center;
    margin-bottom: 4px;
}
.filter__item{
    display: flex;
    align-items: center;
    margin: 2px 6px;
}
.filter__item > *{
    padding: 2px;
}

.filter__select{
    /*width: 100%;*/
    /*appearance: none;*/
    height: 32px;
    border: 1px solid #888;
}

.filter__label{

}
.filter__input{
    height: 32px;
}

.filter__item__btn {
    width: 32px;
    height: 32px;
}

.gallery__content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery__item{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 1px;
    height: inherit;
    margin-bottom: 4px;
    /*background-color: #888;*/
}

.gallery__box{
    width: 240px;
    height: 300px;
    border: 1px solid #eee;
    text-align: center;
}

.gallery__img__box{
    margin-bottom: 16px;
    width: 240px;
    height: 180px;
}

.gallery__img{
    width: inherit;
    height: inherit;
}
.gallery__title{
}
.gallery__info{
}
.gallery__info__text{
    color: #888;
}
.adm__gallery__btns{
    display: flex;
    position: absolute;
    width: 240px;
    z-index: 300;
    justify-content: space-between;
}

.box__content__gallery{
    display: flex;
}

.gallery__form__title{
    font-size: 110%;
    font-weight: 600;
    margin-bottom: 8px;
}

.gallery__form__contents{
    margin-bottom: 20px;
}
.gallery__form-editable{
    margin-right: 10px;
}

/* //Protection */

/* //SubLayout */

/* Paging */
.page__btns{
    display: flex;
    margin: 4px;
    text-align: center;
    border: 1px solid #888;
}

.btn__page__default{
    width: 30px;
    height: 30px;
    border: 1px solid #fff;
    cursor: pointer;
}

.btn__page__select{
    background-color: var(--bright-hover);
    cursor: default;
}

.btn__page__arrow{
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn__page__arrow-disabled{
    cursor: default;
    background-color: #eee;
}
.btn__page__arrow-disabled > *{
    color: #888;
}

/* //Paging */


/* admin */
.box__adm{
    /*position: absolute;*/
    /*margin-top: 10px;*/
    /*display: flex;*/
    /*justify-content: center;*/
}

.box__adm__btns{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #eee;
}

.btn__adm{
    width: 100px;
    height: 36px;
    cursor: pointer;
}

.btn__adm__icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    margin: 4px;
    border: none;
}

.btn__adm__write{
    background-color: var(--bright-hover);
}

.btn__adm__write > span {
    color:var(--primary-color)
}

.btn__adm__modify{
    background-color: var(--bright-hover);
}

.btn__adm__modify > span {
    color:var(--primary-color)
}

.btn__adm__delete{
    background-color: var(--negative-hover);
}
.btn__adm__delete > span {
    color: var(--negative-color);
}


.btn__adm__show{
    background-color: var(--bright-hover);
}

.btn__adm__show > span {
    color:var(--primary-color)
}

.btn__adm__hide{
    background-color: var(--negative-hover);
}

.btn__adm__hide > span {
    color: var(--negative-color);
}

.btn__adm__checkbox {
    background-color: var(--bright-hover);
}

.btn__adm__checkbox > span {
    color:var(--primary-color)
}

/* //admin */

.btn__default{
    position: relative;
    z-index: 100;
    width: 100px;
    height: 36px;
    cursor: pointer;
}

#btn__top{
    position: fixed;
    right: 24%;
    bottom: 10%;
    display: none;
    z-index: 9999;

    width: 52px;
    height: 52px;
    background-color: #eee;
    border-radius: 52px;
    border:0;
    outline: none;
    cursor: pointer;
}

.w10{ width: 10%;}
.w20{ width: 20%;}
.w30{ width: 30%;}
.w40{ width: 40%;}
.w50{ width: 50%;}
.w60{ width: 60%;}
.w70{ width: 70%;}
.w80{ width: 80%;}
.w90{ width: 90%;}
.w100{ width: 100%;}

.tl{text-align: left;}
.tc{text-align: center;}
.tr{text-align: right;}

.text-overflow{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ql-editor{
    font-size: 120%;
}

.ql-indent-1{
    text-indent: 15px;
}
.ql-indent-2{
    text-indent: 30px;
}
.ql-indent-3{
    text-indent: 45px;
}
.ql-indent-4{
    text-indent: 60px;
}
.ql-indent-5{
    text-indent: 75px;
}
.ql-indent-6{
    text-indent: 90px;
}
.ql-indent-7{
    text-indent: 105px;
}
.ql-indent-8{
    text-indent: 120px;
}

.ql-align-center{
    text-align: center;
}

.ql-size-large{
    font-size: 1.2em;
}
.ql-size-large{
    font-size: 1.5em;
}
.ql-size-huge{
    font-size: 2.5em;
}

.ql-container{
    min-height: 400px;
}

.clearfix {*zoom:1;}
.clearfix:before, .clearfix:after {display:block; content: ''; line-height: 0;}
.clearfix:after {clear: both;}

.input__radio{
    width: 18px;
    height: 18px;
    margin-right: 4px;
}

.input__radio-wide{

}


.table__default{
    border: 1px solid #888;
}

.table__default__body{

}

tr{
}

.table_item_title{
    width: 15%;
    background-color: #eee;
}

.table_item_content{
    width: 35%;
    white-space: pre-wrap;
}

.post__image{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.post__image-single{
    max-width: 90%;
}

.accodion__box{
    width: 100%;
    margin: 4px;
    padding: 4px;
    /*border: 1px solid #eee;*/
    /*border-radius: 2px;*/
}

.accodion__item{
    width: 100%;

}

.accodion__title{
    display: flex;
    align-items: center;
    padding: 6px 0;
    border: 1px solid #eee;
    border-radius: 2px;
}
.accodion__contents{
    border: 1px solid #eee;
    border-radius: 2px;
}

.proposal__box{
    position: absolute;
    width: 96%;
    z-index: 200;
    top: -14px;
    left : 10px;
    border: 1px solid #eee;
    border-radius: 0 0 10px 10px;
    background-color: #fff;
    cursor: pointer;
    box-shadow: 2px 2px 10px #888;
}
.proposal__box:last-child{
    border :none;
}

.proposal__item{
    border-bottom: 1px solid #888;
    padding: 6px;
}

.tag__box{
    display: flex;
}

.tag__item{
    display: flex;
    align-items: center;
    margin: 2px;
    padding: 2px 10px;
    border: 1px solid #888;
    border-radius: 10px;
}
.tag__item > span{
    color: #888;
}

.tag__item-selected{
    color: #fff;
    border: 1px solid var(--primary-color);
    background-color: var(--bright-color);
}

.tag__item-selected > span{
    color: #fff;
}

.tag__target{
    display: none;
}

.color_input{
    display: none;
}
.color_chip{
    width: 36px;
    height: 36px;
    padding: 2px;
    margin: 2px;
    border: 6px solid;
    border-radius: 100%;
}

.warning__box{

}

.warning__text{
    color: var(--warning);
}


.__white{border-color: var(--white);}
.__grey{border-color: var(--grey);}
.__black{border-color: var(--black);}
.__ivory{border-color: var(--ivory);}
.__orange{border-color: var(--orange);}
.__brown{border-color: var(--brown);}
.__grass{border-color: var(--grass);}
.__green{border-color: var(--green);}
.__red{border-color: var(--red);}
.__blue{border-color: var(--blue);}
.__white-selected{background-color:var(--white);border-color: var(--white);}
.__grey-selected{background-color: var(--grey);border-color: var(--grey);}
.__black-selected{background-color:var(--black);border-color: var(--black);}
.__ivory-selected{background-color:var(--ivory);border-color: var(--ivory);}
.__orange-selected{background-color: var(--orange);border-color: var(--orange);}
.__brown-selected{background-color:var(--brown);border-color: var(--brown);}
.__grass-selected{background-color:var(--grass);border-color: var(--grass);}
.__green-selected{background-color:var(--green);border-color: var(--green);}
.__red-selected{background-color: var(--red);border-color: var(--red);}
.__blue-selected{background-color: var(--blue);border-color: var(--blue);}

.tab__manage__box{
}
.tab__manage__list{
    margin: 10px;
    padding: 10px;
    border: 1px solid #eee;
}
.tab__manage__view{
    margin: 10px;
    padding: 10px;
    border: 1px solid #eee;
}
.tab__manage__btns{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}
.tab__header{
    display: flex;
}
.tab__title{
    flex: 1;
    height: 40px;
    margin: 0 4px;
    padding: 4px 0 8px 0;
    font-size: 120%;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}

.tab__title:hover{
    background-color: var(--bright-hover);
}

.tab__title__selected{
    background: #fff;
    border: 1px solid #eee;
}

.tab__title__selected:hover{
    background: #fff;
}

.tab__content{
    position: relative;
}

.edited_text{
    display: flex;
    justify-content: center;

    position: absolute;
    top: -4px;
    width: calc(100% - 8px);
    min-height: 855px;
    margin: 0 4px;

    background: #fff;
    border: 1px solid #eee;
    border-top: none;
}

.tab__manage__content{
    padding: 0 10px;
}

.tab__block__static{
    width: 100%;
    margin: 8px 0;
    padding: 8px;
    font-size: 120%;
    border-radius: 8px;
    border: 1px solid #eee;
    cursor: pointer;
    text-align: center;
}

.tab__block__static:hover{
    background: var(--bright-hover);
}

.tab__block__dynimic{
    display: flex;
    width: 100%;
    margin: 8px 0;
    padding: 8px;
    font-size: 120%;
    border-radius: 8px;
    border: 1px solid #eee;
    cursor: grab;
    align-items: center;
    justify-content: center;
}

.download__box{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background: #eee;
}

.download__item{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.file__title{

}

.file__btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    padding: 5px 10px;

    border-radius: 10px;
    color: var(--bright-color);
    border: 2px solid var(--bright-color);
    background-color: #fff;
}

.file__btn:hover{
    color: #fff;
    background-color:var(--bright-color);
}

.file__btn:hover > span {
    color: #fff;
}

.file__btn > span {
    color: var(--bright-color);
}



/* react-calendar */
.react-calendar{
    /*width: 350px;*/
    max-width: 100%;
    max-height: 900px;
    background: white;
    border: 1px solid #a0a096;
    /*font-family: Arial, Helvetica, sans-serif;*/
    line-height: 1.125em;
}

.react-calendar button {
    margin: 0;
    box-sizing: border-box;
    border: 1px solid #eeeeee;
    font-size: 120%;
}

.react-calendar__navigation{
    display: flex;
    height: 60px;
    /*margin-bottom: 1em;*/
}
.react-calendar__navigation button {
    min-width: 44px;
    background: none;
}

.react-calendar__viewContainer{

}

.react-calendar__month-view__weekdays {
    height: 60px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    font: inherit;
    font-size: 0.75em;
    font-weight: bold;
    background-color: #eee;

    box-sizing: border-box;
    border-top: 1px solid #888;
    border-bottom: 1px solid #888;
}
.react-calendar__month-view__weekdays__weekday{
    display: flex;
    height: 44px;
    align-items: center;
    justify-content: center;
}
.react-calendar__month-view__weekdays__weekday > abbr{
    text-decoration-line:none;
    font-size: 180%;
}
.react-calendar__month-view__weekdays__weekday--weekend{

}
.react-calendar__tile {
    height: 120px;
    position: relative;
    /*max-height: 120px;*/
    max-width: 100%;
    padding: 10px 6.6667px;
    background: none;
    text-align: center;
    /*line-height: 16px;*/
    font: inherit;
    /*font-size: 0.833em;*/
}
.react-calendar__tile--now {
    background: var(--bright-hover) !important;
}

.react-calendar__tile--active {
    box-sizing: border-box;
    border-radius: 20px;
    color: white;
}
.react-calendar__month-view__days{
    background-color: #eeeeee;
}
.react-calendar__month-view__days__day{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
}

.react-calendar__navigation__label__labelText{

}
.react-calendar__navigation__label__labelText--from{

}

.calender__tile__box{
    padding: 6px 0;
}

.calender__tile__item{
}

.calender__tile__title{
    font-size: 80%;
}

.calender__tile__title-end{
    color: #888;
    text-decoration : line-through;
}

.calender__tile__title-end > *{
    color: #888 !important;
}

.calender__tile__title-remain{
    color: var(--negative-hover);
}

.calender__tile__covor{
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    width: 80%;
    margin-top: 20px;
    height: 60px;
    top: 19px;
    color: var(--negative-hover);
    background-color: rgba(255,255,255,95%);
    border: thick double var(--negative-hover);
    border-radius: 20px;
}

/* //react-calendar */

.vol__img{
    display: block;
    position: absolute;
    content:'';
    width: 100%;
    height: 100%;
    background-image: url("../../public/img/volunteer/vol__img.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.vol__list__table{
    width: 100%;
    margin: 4px 16px;
    padding: 0;

    border: 1px solid #888;
    border-radius: 8px;
}

.vol__list__tr{
    display: flex;
    border-bottom: 1px solid #eee;
}
.vol__list__tr:last-child{
    border-bottom: none;
}
.vol__list__td{
    padding: 4px 8px;
    text-align: center;
}